*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
my_servers
review_lab/assets/static
.DS_Store
videotext/configs/common/settings_private.py
videotext/configs/production/settings_private.py
videotext/configs/staging/settings_private.py
