body
{
    
}

a
{
    text-decoration:none;
    color:#94BDCD;
    color:#3366CC;
}
 
a:hover
{
    background-color:#FFFF78;
}

blockquote
{
    font-size:14px;
    margin:10px 0 10px 40px;
    padding:0 0 0 15px;
    border-left:5px solid #DDDDDD;
}



#header, #footer
{
    background-color:#262626;
    color:#FFFFFF;
}

#footer
{
    margin:15px 0 0 0;
    padding-bottom:20px;
}

#header
{
    padding-top:20px;
}

#header h1
{
    text-align:center;
    margin-bottom:5px;
}

#header h4
{
    text-align:center;
    font-size:14px;
}
#header h4 a{
    font-variant:small-caps;
    font-size:12px;
}

#header h4 p
{
    font-size:12px;
    display:inline;
    margin-right:20px;
}

#header h4 label
{
    margin-right:5px;
}

#header h4 input
{
    margin:0; padding:0;
}

#footer_contact h4
{
    margin-bottom:2px;
}

#footer_contact p
{
    margin-bottom:2px;   
}

#footer_contact a
{
    color:#A1BCBD;    
}



/**
 *Right Rail Styles
 **/

#notes_container{
    padding:10px;
    border-left:1px solid #CCCCCC;
    position:relative;
}

#note_controls{
    cursor:pointer;
    color:#6666FF;
    float:left;
    font-size:10px;
    margin:5px 0 0 0;
}

#note_controls div
{
    margin-right:5px;
    display:inline;
}

.add_note_link
{
    cursor:pointer;
    color:#6666FF;
    font-size:10px;
    margin:5px 0 0 0; 
}

#note_search
{
    float:left; clear:both;
    margin:0 0 15px 0;
    padding:10px 0 5px 0;
    border-bottom:1px solid #AAAAAA;   
}

#note_search h5
{
    margin:0; padding:0;
}

#note_search_text
{
    width:265px;
    padding:0 5px 0 5px;
    font-size:14px;
}

#note_search_button
{
    font-size:16px;
    float:right;
    margin: -1px 0 0 0;
}

#search_results_count
{
    float:right;
    text-align:right;
    font-size:10px;
    font-weight:bold;
    clear:both;
    margin: 5px 0 0 0;
}

#notes
{
    height:400px;
    overflow:auto;
    overflow-x:hidden;
    clear:both;
}

.note
{
    border-bottom: 1px solid #AAAAAA;
    margin:0;
    float:left; clear:both;
    padding:10px 5px 10px 5px;
    width:100%;
}

.note.highlighted
{
    background-color:#EEDD82;
}

.note .avatar
{
    float:left;
    width:48px;
    margin:0 10px 5px 0;
}

.note .avatar img
{
    width:48px;
}

.note .note_text
{
    float:left;
    cursor:pointer;
}

.note .user_info
{
    float:left; clear:both;
    border-top:1px solid #DEDEDE;
    width:100%;
    padding: 0 2px 0 2px;
}

#add_note_container{
    width: 345px;
    height: 490px;
    position:absolute;
    top:0;
    left:0;
    margin:10px;
    padding:10px;
    background:#FFFFFF;
    border:1px solid black;
    display:none;
}

#new_note_text{
    width:100%;
    height: 250px;
    resize:none;
}

#new_note_submit{
    float:right;
    margin:5px -2px 0 0;
}

#add_note_container .add_note_link{
    float:right;
    margin: -5px 0 0 0;
}

#add_note_status
{
    font-size:10px;
    float:right;
    margin:0 50px 0 0;
    color:#993333;
}


/**
 *Index view / list
 **/ 



