<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Video Notebook // {% block title %} Latest Videos{% endblock %}</title>
        <link rel="icon" href="http://media.reporterslab.org/images/icons/lab-favicon.ico" type="image/ico" sizes="16x16" />
        <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <!--[if lt IE 9]>
            <script src="http://media.reporterslab.org/scripts/html5.js" type="text/javascript"></script>
        <![endif]-->
        <!-- JQuery Tools for overlay: http://flowplayer.org/tools/index.html -->
        <script src="http://cdn.jquerytools.org/1.2.6/all/jquery.tools.min.js"></script>
        <!-- JQuery UI - This may be overkill, but lets keep it for now -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <!-- wrapper for set-timeout or set-interval. -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.later.js"></script>
        <!-- scrolls a div to an element. Animation options -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
        <!-- formats dates -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/date.format.js"></script>
        <!-- for embedding the YouTube video -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" charset="utf-8" />  
        
        <meta property="og:url" content="http://tv.reporterslab.org{{ request.get_full_path }}" />
        <meta property="og:image" content="http://media.reporterslab.org/images/icons/logo.jpg" />
        <meta property="og:site_name" content="The Video Notebook" />
        <meta property="fb:admins" content="616167736,11805170" />
        <meta property="og:locale" content="en_US" />
        {% block meta %}
            <meta property="og:title" content="The Video Notebook" />
            <meta property="og:description" content="Video annotation from Reporters' Lab" />
            <meta property="og:type" content="website" />
        {% endblock %}
        
        <!-- I *believe* json2 is required for Backbone. Underscore is for sure. -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/models.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/date.js"></script>
        
        <script type="text/javascript">
            //some generic page info we want available to javascript.
            NOTE_API = "{% url api_dispatch_list api_name="v1" resource_name="note" %}";
            VIDEO_API = "{% url api_dispatch_list api_name="v1" resource_name="video" %}";
            SOURCE_API = "{% url api_dispatch_list api_name="v1" resource_name="source" %}";
            PATH = "{{ request.path }}";
            LOGGED_IN = {{ user.is_authenticated|lower }};
            {% if user.is_authenticated %}
                LOGGED_IN_USER = {{ user.id }};
            {% else %}
                LOGGED_IN_USER = -1;
            {% endif %}
        </script>
        
        
        <!-- for inline text editing -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jeditable.mini.js"></script>
        {% block head %}{% endblock %}
        
        
        <script type="text/javascript">
            
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-28808426-1']);
            _gaq.push(['_setDomainName', 'reporterslab.org']);
            _gaq.push(['_trackPageview']);
            
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            
       </script>
        
    </head>
    
    <body>
        {% comment %} Facebook, Twitter, G+ stuff. 
        
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=36309052720";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
        
        {% endcomment %}
        
        <div id="wrapper">
            
            
            <div id="header">
                <div class="main_content" style="z-index:3">
                    <a href="/"><img id="logo" src="{{ STATIC_URL }}img/mast.png" /></a>
                    <div id="small_mast" class="box_shadow">
                        <a href="http://www.reporterslab.org">
                            <img src="http://media.reporterslab.org/images/graphics/small_lab_mast.png" />
                        </a>
                    </div>
                </div>
            </div>
            
            <div id="global_nav">
                <div class="main_content">
                    <div id="login_box">
                        {% if user.is_authenticated %}
                            Welcome {{ user }} <span class="slashes">//</span> <a href="/l/logout/">log out</a>
                            <span class="slashes">//</span>
                            <a href="/video/add/">Add a video</a>
                        {% else %}
                            <form method="post" action="{{ request.path }}">
                                {% csrf_token %}
                                <p><label for="id_username">Username:</label>{{ auth_form.username }}</p>
                                <p><label for="id_password">Password:</label>{{ auth_form.password }}</p>
                                <input type="submit" value="Log in" />
                            </form>                        
                            {% if auth_message %}
                                <p>{{ auth_message }}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="black_bar"><span>&nbsp;</span></div>
            
            
            <div id="pre_main" class="main_content">
                {% block pre_main %} {% endblock %}
            </div>
            
            
            <div id="main" class="main_content">
                <div>
                    {% block main_content %}{% endblock %}
                </div>
            </div>
  
            <div class="main_content" style="clear:both;">
                <div id="footer">
                    <div id="footer_social">
                        <ul>
                            <li><a href="http://www.facebook.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_facebook.png" /></a></li>
                            <li><a href="http://www.twitter.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_twitter.png" /></a></li>
                            <li><a href="http://www.reporterslab.org/rss"><img src="{{ STATIC_URL }}img/footer_rss.png" /></a></li>
                            <li><a href="https://plus.google.com/116345623067631086540/posts"><img src="{{ STATIC_URL }}img/footer_google_plus.png" /></a></li>
                            <li><a href="http://www.github.com/reporterslab"><img src="{{ STATIC_URL }}img/footer_github.png" /></a></li>
                            <li><a href="http://groups.google.com/group/reporters-lab"><img src="{{ STATIC_URL }}img/footer_forum.png" /></a></li>
                        </ul>
                    </div>
                    
                    <div id="footer_text">
                        <h3>The Video Notebook</h3>
                        <p>
                            A project of Duke University's <a href="http://dewitt.sanford.duke.edu">Sanford School of Public Policy</a><br />
                            Box 90241 <span class="slashes">//</span> SB 140 <span class="slashes">//</span>201 Science Drive <span class="slashes">//</span>Durham, NC 27708<br />
                            <a href="mailto:info@reporterslab.org">info@reporterslab.org</a>
                        </p>
                        <h3 style="margin-top:25px;">Questions? Comments?</h3>
                        <p>Email Tyler Dukes at <a href="mailto:tyler@reporterslab.org">tyler@reporterslab.org</a> or call 919-613-7346</p>
    
                        <h4>
                            &copy; 2012 Reporters' Lab. All Rights Reserved.
                            <span class="slashes">//</span>
                            Web design by <a href="http://www.rowdesignstudios.com">Row Design Studios</a>
                        </h4>
                    </div>
                    
                    <fieldset id="footer_more">
                        <legend align="center">More Information</legend> <!-- align deprecated, but no other solution? -->
                        <p>
                            <a href="http://www.reporterslab.org/mission">Our Mission</a><br />
                            <a href="http://reviews.reporterslab.org">Reviews</a><span class="slashes">//</span>
                            <a href="http://www.github.com/reporterslab">Source Code</a><br />
                            <a href="http://www.reporterslab.org/developers">Developers Challenges</a><span class="slashes">//</span>
                            <a href="http://www.reporterslab.org/researchers">Research Topics</a>
                        </p>
                    </fieldset>
                    <a href="http://www.duke.edu" id="duke_logo">
                        <img src="{{ STATIC_URL }}img/duke_horizontal_remix.png" id="duke_logo" alt="Duke University" />
                    </a>
                </div>
            </div>
        </div>
        {% block end_body %}{% endblock %}
    </body>
</html>