<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Twitter Vision:{% block title %} The Latest{% endblock %}</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
        <!-- JQuery UI - This may be overkill, but lets keep it for now -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <!-- wrapper for set-timeout or set-interval. -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.later.js"></script>
        <!-- scrolls a div to an element. Animation options -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo-min.js"></script>
        <!-- formats dates -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/date.format.js"></script>
        <!-- for embedding the YouTube video -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/text.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css" charset="utf-8" />
        
        <!-- I *believe* json2 is required for Backbone. Underscore is for sure. -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/json2.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
        
        {% block head %}{% endblock %}
    </head>
    
    <body>
        <div id="wrapper" class="container_12">
            <div id="header" class="grid_12 alpha omega">
                <h1><a href="/">TwitterVision</a></h1>
                <h4>
                    {% if user.is_authenticated %}
                        Welcome {{ user }} | <a href="/l/logout/">LOG OUT</a>
                    {% else %}
                        <form method="post" action="{{ request.path }}">
                            {% csrf_token %}
                            <p><label for="id_username">Username:</label>{{ auth_form.username }}</p>
                            <p><label for="id_password">Password:</label>{{ auth_form.password }}</p>
                            <input type="submit" value="Log in" />
                        </form>
                        
                        {% if auth_message %}
                            <p>{{ auth_message }}</p>
                        {% endif %}
                        
                    {% endif %}
                    
                </h4>
            </div>
            <div id="pre_main" class="grid_12 alpha omega">
                {% block pre_main %} {% endblock %}
            </div>
            <div id="main" class="grid_12 alpha omega">
                <div id="content" class="grid_12 alpha omega">
                    {% block main_content %}{% endblock %}
                </div>
            </div>
            <div id="footer" class="grid_12 alpha omega">
                <div class="grid_9 alpha"><p></p></div>
                <div id="footer_contact" class="grid_3 omega">
                    <h4>Contact Us</h4>
                    <p> email: <a href="mailto:info@reporterslab.org">info@reporterslab.org</a></p>
                    <p> phone: 919.613.7348</p>
                    <p>  code: <a href="http://www.github.com/ReportersLab">Github</a></p>
                    <p>tweets: <a href="http://www.twitter.com/ReportersLab">@ReportersLab</a></p> 
                </div>
                
            </div>
        </div>
        {% block end_body %}{% endblock %}
        
    </body>
    
</html>