{% extends "base.html" %}



{% block main_content %}
    {% if user.is_authenticated %}
        <div id="video_list">
        {% for v in video_list %}
            <article class="video_list_item">
                {% if v.icon_link %}
                <figure>
                    <img src="{{ v.icon_link}}" />
                </figure>
                {% endif %}
               <header>
                    <h2><a href="{{ v.get_absolute_url }}">{{ v.title }}</a></h2>
                    <div class="entry_meta">
                        <span>{{ v.user.first_name }} {{ v.user.last_name }}</span>
                        <span class="slashes">//</span>
                        <span class="timestamp">{{ v.update_time|date:"DATETIME_FORMAT" }}</span>
                    </div>
               </header>
               <div class="teaser">
                    {{ v.description|safe }}
               </div>
               <a class="more_link" href="{{ v.get_absolute_url }}">View Video</a>
            </article>
        {% endfor %}
        </div>
    {% else %}
        <div class="box_shadow margined padded login_home" style="float:left; width:500px;">
            <form method="post" action="{{ request.path }}">
                {% csrf_token %}
                <p><label for="id_username">Username:</label>{{ auth_form.username }}</p>
                <p><label for="id_password">Password:</label>{{ auth_form.password }}</p>
                <input type="submit" value="Log in" />
            </form>
        </div>
    {% endif %}
    <div id="right_rail">
        <aside>
            <h3>Welcome to The Video Notebook</h3>
            <p>The Video Notebook is an attempt to provide a way for journalists to sync notes to video. The hope is to create a way for reporters to easily import various data feeds from places like Storify or Twitter and sync them up with a recorded event.</p>
            <p>In its alpha stage The Video Notebook provides a way to import videos from YouTube and notes from a few sources, as well as a way to add notes through our video interface.</p>
            <p>In the future more ways to import data will be added. We also plan on adding more ways to add video and audio. We would also like to provide more ways of analyzing the notes' content -- things like entity extraction and visualizations.</p>
            <p>You can request access to help us test the site and provide input how you would like to see it work at <b><a href="mailto:info@reporterslab.org">info@reporterslab.org</a></b></p>
        </aside>
    </div>
{% endblock %}