{% extends "base.html" %} 

{% block title %}{{ video.title }}{% endblock %}


{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/video_controls.js"></script>
    {% autoescape off %}
    <script type="text/javascript">
        VIDEO_ID = "{{ video.id }}";
        NOTES_DATA = {{ notes_json }};
        VIDEO_DATA = {{ video_json }};
    </script>
    {% endautoescape %}
    
    <script type="text/html" id="videoTemplate">
        <% if (obj.type == 'youtube'){ %>
            <div id="player_container">
                Flash Player and Javascript required for YouTube Videos.
            </div>
        <% }else if (obj.type =='mp4'){ %>
            <video id="video_tag" class="video-js vjs-default-skin"
                        controls preload="auto" width="550" height="350" poster="<%= icon_link %>" data-setup="{}">
                <source src="<%= video_url %>" type='video/mp4' />
            </video>
        <% } %>
        <div id="video_details_container" class="box_shadow margined padded">
            <h1 id="video_title" class="edit"><%= title %></h1>
            <div id="video_description" class="edit">
                <%= description %>
            </div>
            <div id="video_meta">
                <div class="timestamp">Start Time: <%= date_time.format('dddd, mmmm dd, yyyy h:MM:ss TT') %></div>
            </div>
            <% if (obj.user.id == LOGGED_IN_USER.toString()){ %>
            <div id="video_owner_controls">
                <strong>Change video details by clicking on them</strong><br />
                <strong>Notes not matching the video? </strong><span id="sync_notes_link" class="link">Sync Notes</span>
            </div>
            <% } %>
        </div>
    </script>
    
    <script type="text/html" id="addNoteTemplate">
        <div class="note_text">
            <p><%= text %></p>
        </div>
        <div class="user_info">
            <span>
                <% if(obj.link) print('<a href="'+ link + '">'); %>
                    <% if(isValidDate(date_time)){ %>    
                        <%= date_time.format('mm/dd/yy h:MM:ss TT') %> 
                    <% } %> (<%= offset %>)
                <% if(obj.link) print('</a>'); %>
            </span>
        </div>
    </script>
    
    
    <script type="text/html" id="noteTemplate">
        
        <div class="note_text">
            <p><%= text %></p>
        </div>
        <div class="user_info">
            <% if(obj.user_name){ %>
                <a href="<% if(obj.user_link != null) print(user_link); else print(link); %>"><%= user_name %></a>
                <span class="slashes">//</span>
            <% } else if (obj.user != null){ %>
                <a href="<% if(obj.user_link != null) print(user_link); else print(link); %>"><%= user.first_name %> <%= user.last_name %></a>
                <span class="slashes">//</span>
            <% } %>
            <span>
                <% if(obj.link) print('<a href="'+ link + '">'); %>
                    <% if(isValidDate(date_time)){ %>    
                        <%= date_time.format('mm/dd/yy h:MM:ss TT') %> 
                    <% } %> (<%= offset %>)
                <% if(obj.link) print('</a>'); %>
            </span>
        </div>
        <div class="details">
            <span class="show_details_link link">Show Details</span>
        </div>
    </script>
    
    <script type="text/html" id="noteDetailsTemplate">
        <div class="margin_bottom">
            <% if(obj.icon_link){ %>
                <div class="avatar">
                    <a href="<%= link %>">
                        <img src="<%= icon_link %>" alt="" title="<%= user_name %>" />
                    </a>
                </div>
            <% } %>
            <div class="user_info">
                <% if(obj.user_name){ %>
                    <h6><a href="<% if(obj.user_link != null) print(user_link); else print(link); %>"><%= user_name %></a></h6>
                <% } %>
                <h6>
                    <% if(isValidDate(date_time)){ %>    
                            <%= date_time.format('mm/dd/yy h:MM:ss TT') %> 
                        <% } %> (<%= offset %>)
                </h6>
            </div>
        </div>
        <div class="black_bar"></div>
        <h2 id="note_detail_text" class="edit"><%= text %></h2>
        <div class="black_bar"></div>
        <div id="note_detail_details" class="margined">
            <div>
                <b>Source: </b>
                <span id="note_detail_source"><%= source %></span>    
            </div>
            <% if(    (obj.user && (obj.user.id == LOGGED_IN_USER.toString()) )  ||
                   ( !obj.user && app.video.get('user') && (app.video.get('user').id == LOGGED_IN_USER.toString()) )
                 ){
            %>
                <div>
                    <b>Type: </b>
                    <span id="note_detail_type" class="edit"><%= type %></span>    
                </div>
                <div>
                    <b>Private: </b>
                    <input type="checkbox" id="note_detail_private" <% if (obj.private == true){ %>checked="checked"<% } %>/>    
                </div>
            <% } else{ %>
                <div>
                    <b>Type: </b>
                    <span id="note_detail_type"><%= type %></span>    
                </div>
            <% } %>
            <div>
                <b>Link: </b>
                <a id="note_detail_link" href="<%= link %>">Link to this note</a>    
            </div>
        </div>
        <div class="black_bar"></div>
        <div class="margin_top">
            <% if(    (obj.user && (obj.user.id == LOGGED_IN_USER.toString()) )  ||
                   ( !obj.user && app.video.get('user') && (app.video.get('user').id == LOGGED_IN_USER.toString()) )
              ){ %>
                <span class="sync_note_link link"><b>Click to sync this note to the current video time.</b></span><br /><br />
                <% if(obj.source != null){ %>            
                    <span class="sync_source_link link"><b>Click to sync ALL notes from "<%= source_title %>" to current video time.</b></span><br /><br />
                <% } %>
                <br /><span class="delete_note_link link" style="color:#FF3333 !important;"><b>Delete this note</b></span>
            <% } %>
        </div>
        <span class="closeLink link">Close Details</span>
    </script>
    
{% endblock %}


{% block main_content %}
   <div id="app">
        <div id="video"></div>
        <div id="right_rail">
            <div id="notes_container">
                <div id="note_details_container" class="box_shadow"></div>
                <div id="add_note_container" class="box_shadow">
                    {% if user.is_authenticated %}
                        <div id="add_note_display"><!-- content from JS --></div>
                        <textarea id="new_note_text" name="new_note_text" placeholder="Type here to add a note. Hit enter or click 'add note' to save. Notes must be at least 10 characters."></textarea>
                        <input type="submit" value="Add Note" id="new_note_submit" />
                        <div style="margin:5px 0 5px 5px; font-size:10px;">
                            <label for="new_note_private">Make note private: </label>
                            <input type="checkbox" id="new_note_private" name="new_note_private" />
                            <div id="add_note_status"></div>
                        </div>
                        <span class="add_note_link">View notes</span>
                    {% else %}
                        <p>Please log in to above to add notes</p>
                    {% endif %}
                </div>
                <div id="note_search">
                    <h5>Search Notes</h5>
                    <div>
                        <input type="text" name="note_search_text" id="note_search_text" placeholder="Search..." />
                        <input type="button" value="Search" id="note_search_button" />
                    </div>
                    <div id="search_results_count"></div>
                    <div id="note_controls">
                        <div id="auto_scroll" class="link"><span>Disable Auto-Scroll</span></div>
                        {% if user.is_authenticated %}
                            <span class="slashes">//</span>
                            <div id="add_note_link" class="add_note_link"><span>Add Notes</span></div>
                        {% endif %}
                    </div>
                </div>
                <div id="notes"></div>
                        
                <div id="message_container">
                    <div class="black_bar"></div>
                    <div id="message" class="box_shadow margined padded">
                        <h4>{% if user.is_authenticated %}Add some notes!{% else %}Log in to add notes!{% endif %}</h4>
                    </div>
                </div>
            </div>
        </div>
   </div>
   
   <div>
        
   </div>
   
{% endblock %}

    