{% extends "base.html" %}

{% block title %}Event: {{ video.title }}{% endblock %}


{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/video_controls.js"></script>
    {% autoescape off %}
    <script type="text/javascript">
        VIDEO_ID = "{{ video.id }}";
        NOTES_DATA = {{ notes_json }};
        VIDEO_DATA = {{ video_json }};
    </script>
    {% endautoescape %}
    
    <script type="text/html" id="videoTemplate">
        <h1><%= title %></h1>
        <div id="player_container">
            Flash Player and Javascript required for YouTube Videos.
        </div>
        <div id="video_description">
            <%= description %>
        </div>
       
        <div id="video_meta">
            <div class="timestamp">Start Time: <%= date_time.format('dddd, mmmm mm, yyyy h:MM:ss TT') %></div>
            <% if (typeof(end_date_time) != "undefined") { %>
                <div class="timestamp end">End Time: <%= end_date_time.format('dddd, mmmm mm, yyyy h:MM:ss TT') %></div>
            <% } %>
        </div>
    </script>
    
    <script type="text/html" id="noteTemplate">
        <% if(icon_link){ %>
            <div class="avatar">
                <a href="<%= link %>">
                    <img src="<%= icon_link %>" alt="" title="<%= user_name %>" />
                </a>
            </div>
        <% } %>
        <div class="note_text" <% if(icon_link) print('style="width:280px; margin:-5px 0 -5px 0;"'); %>>
            <p><%= text %></p>
        </div>
        <div class="user_info">
            <% if(user_name != null){ %>
                <a href="<% if(user_link != null) print(user_link); else print(link); %>"><%= user_name %></a> | 
            <% } %>
            <span>
                <% if(link) print('<a href="'+ link + '">'); %>
                    <% if(isValidDate(date_time)){ %>    
                        <%= date_time.format('mm/dd/yy h:MM:ss TT') %> 
                    <% } %> (<%= offset %>)
                <% if(link) print('</a>'); %>
            </span>
        </div>
    </script>
    
    <script type="text/html" id="addNoteTemplate">
        
    </script>
    
{% endblock %}


{% block main_content %}
   <div id="app">
        <div id="video" class="grid_7 alpha"></div>
        <div id="right_rail" class="grid_5 omega">
            <div id="notes_container">
                <div id="add_note_container">
                    {% if user.is_authenticated %}
                        <textarea id="new_note_text" name="new_note_text"></textarea>
                        <input type="submit" value="Add Note" id="new_note_submit" />
                        <div style="margin:5px 0 5px 5px; font-size:10px;">
                            <label for="new_note_private">Make note private: </label>
                            <input type="checkbox" id="new_note_private" name="new_note_private" />
                            <div id="add_note_status"></div>
                        </div>
                        <span class="add_note_link">View notes</span>
                    {% else %}
                        <p>Please log in to above to add notes</p>
                    {% endif %}
                </div>
                <div id="note_search">
                    <h5>Search Notes</h5>
                    <div>
                        <input type="text" name="note_search_text" id="note_search_text" placeholder="Search..." />
                        <input type="button" value="Search" id="note_search_button" />
                    </div>
                    <div id="search_results_count"></div>
                    <div id="note_controls">
                        <div id="auto_scroll"><span>Disable Auto-Scroll</span></div>
                        {% if user.is_authenticated %}
                            <div>|</div>
                            <div id="add_note_link" class="add_note_link"><span>Add Notes</span></div>
                        {% endif %}
                    </div>
                </div>
                <div id="notes"></div>
            </div>
        </div>
   </div>
   
   <div>
        
   </div>
   
{% endblock %}

    